<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Index page</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
</head>
<body class="bg-light">
<header class="header">
    <nav class="navbar navbar-light">
        <ul></ul>
        <span class="navbar-text">
            <div id="headerfolder">{{showdir()}}</div>
        </span>
        <ul></ul>
    </nav>
</header>
